.letter-box-light {
  box-shadow: var(--box-shadow-light);
  background-color: var(--bg-color-light);
  border: none;
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.letter-box-light:focus {
  border: none;
  outline: none;
}

.letter-box-light:hover {
  border: solid 1px white;
}

.letter-box-dark {
  box-shadow: var(--box-shadow-dark);
  background-color: var(--bg-color-dark);
  color: white;
  border: none;
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.letter-box-dark:focus {
  border: none;
  outline: none;
}

.letter-box-dark:hover {
  border: solid 1px white;
}

.letter-box-clicked-light {
  box-shadow: var(--box-shadow-light-inverse);
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  opacity: 0.3;
}

.letter-box-clicked-dark {
  box-shadow: var(--box-shadow-dark-inverse);
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  opacity: 0.3;
}