nav {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav div {
  margin-right: 10%;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 129, 107);
  font-weight: 700;
}
