#definition:before {
  content: "Definition: ";
  font-weight: 700;
}

#definition-block {
  max-width: 700px;
  margin-bottom: 3vh;
  margin-top: 3vh;
  padding: 10px 20px;
  /* display: none; */
}

#example {
  font-style: italic;
  font-weight: 100;
}