@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,200&display=swap');

:root {
  --bg-color-light: #ffbead;
  --box-shadow-light: 6px 6px 12px #d9a293, 
                      -6px -6px 12px #ffdbc7;
  --box-shadow-light-inverse: inset 6px 6px 12px #d9a293, 
                              inset -6px -6px 12px #ffdbc7;
  --font-color-light: black;

  --bg-color-dark: #3d0035;
  --box-shadow-dark: 8px 8px 16px #34002d, 
                      -8px -8px 16px #46003d;
  --box-shadow-dark-inverse: inset 8px 8px 16px #34002d, 
                              inset -8px -8px 16px #46003d;
  --font-color-dark: white;

  --font-stack: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}


